body {
	text-align: center;
	margin: 2vw auto;
}

#app {
    font-family: 'Press Start 2P', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
	flex-direction: column;
	align-items: center;
}

#app,
button {
	color: #2c3e50;
}

#app > img {
	width: 100%;
}

.randomizer {
	padding: 20px 30px;
	margin: 20px auto !important;
}

.pokemon-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95%;
	max-width: 400px;
	margin: 0 auto !important;
	box-shadow: 0 3px 20px rgba(0,0,0,0.5), 
				0 8px 10px rgba(0,0,0,0.7);
}

.pokemon-avatar {
	width: 150px;
	height: 150px;
}

.pokedex-button {
	padding: 5px 10px !important;
}

.pokemon-text,
.pokedex-text {
	text-align: left;
	margin: 20px auto !important;
}

.pokemon-text p:last-child {
	margin-bottom: 0;
}